<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <h6 class="text-danger"> You do not have permission to view this resource</h6>
    <img src ="~/images/cae916be-09e9-4ed2-a9da-bac961d572c8_parker3.jpg"/>
</div>

